<div class="card bg-dark text-white">
    <img class="card-img" src="assets/img/imageedit_7_4142822835.gif" style="height: 80vh;width: 1005;" alt="Card image">
    <div class="card-img-overlay d-flex justify-content-center  ">
        <div class="align-self-center">
      <h5 class="card-title text-center display-4 font-weight-bold text-capitalize" >Clara's Food Place</h5>
   
      <p class="card-text text-center font-weight-light" style="font-size: 2em;">Life's too short for boring food.</p>
    
    </div>
    </div>
  </div>
  <div class="text-center">
    <h4 class="text-capitalize">history</h4>
  </div>

  <div class="mt-4 d-flex justify-content-center ml-5">
 
    <div class="align-self-center w-25">
        <p>Clara food place is a cool food spot located on the campus of Rufus Giwa Polytechnic,
        Owo, Ondo State where you  get a home away from home experience.

        We pride ourself in preparing very fresh and healthy food that are carefully prepared in a very hygienic environment.
        
       Our local dishes create memories and our intercontinental dishes lingers in your taste buds.
        </p>
        <p>
      Just one stop at Clara Food Place is all you need.

        Our dishes include: oha soup, white soup, Nsala soup, vegetable soup,
      
         Okra Soup, ogbono soup, ofuaku soup and egusi soup amongst others.

        We serve garri, fufu, semo, pounded yam and wheat.
  
        We also serve fried rice, jollof rice, ofada rice, salad, plantain and beans amongst others.
     </p>
    </div>
    
  </div>
  <app-dishes></app-dishes>